a{
    cursor: pointer;
  }
  a:hover{
    text-decoration: underline;
  }
  .a{
    font-family: 'Facebook Sans', sans-serif;
    font-family: 'Facebook Narrow App', sans-serif;
  }

.popup-overlay {
  
  
  /* left: 0; */
  /* width: 300%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5); */
  /* justify-content: center;
  align-items: center; */
  backdrop-filter: blur(2px);
  /* z-index: 1000; */
}


.close-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: white;
  /* margin-bottom: 10px; */
}
.searchBox {
  position: absolute;
  top: -70%;
  left: 5%;
  transform:  translate(0%,100%);
  background:  rgb(228, 228, 228);
  border-color: black;
  color: white;
  height: 40px;
  border-radius: 40px;
  padding-top: 10px;
}

.searchBox:hover > .searchInput {
  width: 140px;
  padding: 0 10px 10px;
}

.searchBox:hover > .searchButton {
background: 	RGB(24, 119, 242);
color : white;

}

.searchButton {
  font-weight: 800;
  color: black;
  float: right;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  border-radius: 50%;
  background: rgb(228, 228, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  margin-left: 5px;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 20px;
  width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
  width: 150px;
  padding: 0 ;
}
}
.fff{
  background-image: url(./image/c.jfif);
  background-size: contain;
  height: 190px;
  border-radius: 10px;
}